<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Home {% endblock %}</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style="background-color: white;">
        <nav class="navbar">
            <div class="navdiv">
                <ul>
                    <li>
                        <a href="{{ url_for('banks') }}">U.S. Banks ▾</a>
                        <ul class="dropdown">
                            <li><a href="{{ url_for('standardize_cre') }}">Standardize CRE</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('reits') }}">U.S. REITs</a></li>
                </ul>
            </div>
        </nav>
    {% block content %}{% endblock %}
    </body>
</html>
